#producto_imagen{
    width: 100%;
}
.mensaje__alerta {
    font-size: 1.8rem;
}
.principal{
    // height: 5rem;
    color: black;
    margin: 2rem;
    font-size: 2.5rem;
}
.autor{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
h4 {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
}
#total_clientes, #sumatoria_carrito {
    font-size: 1.6rem;
    font-weight: bold;
}

.texto__producto{    
    color: black;
    font-weight: bold;
    font-family: $body-font-family-poppins; 
    font-size: 1.4rem;
}
.tabla__productos{
    padding-top: 4rem;
    // width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: $body-font-family-poppins;
    font-size: 1.2rem;
}
.informacion__tarjeta{
    width: 90%;
    margin-top: 1.8rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    font-size: 1.1rem;
    font-weight: 700;
}
.datos__tarjeta{
    text-align: center;
    width:50%;
    margin: auto;
}
.label__producto{    
    font-weight: bold;
    font-family: $body-font-family-poppins; 
    font-size: 1.2rem;
}
.cliente__cabecera{   
    font-family: $body-font-family-poppins; 
    margin-left: 5rem;    
    font-weight: 900;
}
.cliente__datos{    
    display: flex;    
    flex-direction: row;      
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cliente__informacion {
    font-size: 1.8rem;
    font-family: $body-font-family-poppins;
    margin-top: 2rem;
    width: auto;
}
.btn, .swal2-actions {
    font-size: 1.2rem;
    font-family: $body-font-family-poppins;
}
.swal2-html-container, .swal2-validation-message, .swal2-input {
    font-size: 1.4rem;
    font-family: $body-font-family-poppins;
}
.productos__busqueda{
    margin: 5rem;
    font-size: 2rem;
    font-family: $body-font-family-poppins;
    border: solid rgb(24, 153, 182) 0.1rem;
    border-radius: 0.5rem;
    padding: 3rem;    
    #texto_buscar{        
        width: 80%;
        font-size: 2rem;
    }
}   
.productos__listado{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    .productos__carrito{
        width: 30%;       
        
        #carrito{
            border: 1.5px solid rgb(206, 206, 206);
            padding: 1rem;
            
            div{
                font-weight: 900;
            }
            button {
                width: 100%;
            }
            p {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
    .productos__contenedor {  
        width: 60%;      
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin: 5rem;
      }
    .card__product{
        margin: 1rem;
        border: 1.5px solid rgb(206, 206, 206);
        border-radius: 0.5rem;        
        font-size: 1.8rem;

        .card__body{

            .card__title{
                font-size: 1.5rem;
                font-weight: 900;
                text-align: center;
            }
            .card__category{
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
            }
            .card__price{
                font-size: 2.2rem;
                font-weight: 900;
                text-align: center;
                color: green;
            }
        }
        .card__boton{                
            font-size: 2rem;            
            padding: 1rem;

            button{
                width: 100%;
            }
        }
    }
} 

